<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOCATION</title>
    <style>
        *{
            background-color: rgb(232, 243, 245);
        }
        body{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        iframe{
            border: 1px solid black;
            box-shadow: 0px 0px 15px rgb(77, 75, 75);
        }
    </style>
</head>
<body>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3573.617437762801!2d75.8745201!3d26.4035445!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbfc0c282ffffff%3A0x4776f298b0f0587e!2sBanasthali%20University!5e0!3m2!1sen!2sin!4v1687514924010!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>